/* useful link for fixing margins of childs moving the section, create new block formating context
  cf : https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context */

html {
  --screen-height: 100vh;
  --separator-height: 4px;
  --main-color: hsl(235, 64%, 12%);
  --off-color: hsl(235, 64%, 20%);
  --accent-color: hsl(235, 64%, 40%);
  --text-color: hsl(47, 70%, 75%);
  --text-color-accent: hsl(47, 70%, 55%);
  color: var(--text-color);
}

/* Rainblow EM */
strong {
  /* rainbow backround color */
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    /* hsl(240, 100%, 50%), */ hsl(300, 100%, 50%),
    hsl(360, 100%, 50%)
  );
  background-size: 400% 100%;
  background-repeat: repeat-x;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow 15s linear infinite;
  font-style: normal;
  font-weight: normal;
}
em.red {
  color: red;
}
@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -400% 0%;
  }
}

main {
  height: var(--screen-height);
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

@media (max-width: 1000px) {
  main {
    scroll-snap-type: y proximity;
  }
}

section.screen {
  scroll-snap-align: start;
  min-height: var(--screen-height);
  min-width: 100%;
  background-color: var(--main-color);
  position: relative;
  display: block;
  overscroll-behavior: contain;
  /* For fixing child elements from moving screen with margin-top */
  /* contain: layout; */
}

/* Separators */
section.screen:not(:first-child) {
  margin-top: var(--separator-height);
}

section.screen::after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(0px - var(--separator-height));
  left: 0;
  width: 100%;
  height: var(--separator-height);
  background-color: var(--accent-color);
  transition: opacity 0.5s ease-out;
}
/* Other stuff */

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
}

.main-title {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--text-color-accent);
}
.subtitle {
  font-size: 1.5rem;
}

/* animation for blinker */
.blinker {
  animation: blinker 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* PROJECTS GRID */
h2 {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 3rem;
  overflow-y: scroll;
}

.card {
  position: relative;
  --animation-duration: 0.4s;
  background-color: var(--off-color);
  border-radius: 0.5rem;
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: transform var(--animation-duration) ease-out;
  height: 30rem;
  width: 20rem;
  display: grid;
  padding: 2rem;
  font-size: 1.25rem;
  border: 1px solid var(--accent-color);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.25fr;
}

.card-title {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-color);
}

.card-cta {
  background-color: var(--main-color);
  color: var(--text-color-accent);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.card-cta > a {
  text-decoration: none;
  color: inherit;
}

/* Flashy anims for cards */
.card:hover {
  transform: scale(1.1);
  transition: transform var(--animation-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-cta:hover {
  transform: scale(1.2);
  box-shadow: 0 0.25rem 2rem rgb(0, 0, 0), 0 0.25rem 1rem rgb(255, 255, 255);
  background-color: var(--accent-color);
}

/* ABOUT */
.about-description {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  padding: 2em;
  width: 50ch;
  left: 50%;
  transform: translateX(-50%);
}
